@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto+Serif&display=swap');

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-color: #333;

  --heading-font: 'PT Serif', serif;
  --paragraph-font: 'Roboto Serif', serif;
}

/* Global styles */
body {
  font-family: 'PT Serif', serif;
  color: var(--font-color);
  background-color: #f5f5f5;
  max-width: 1350px;
  margin: 0;
}

a:hover {
  color: var(--secondary-color);
}

/* Header styles */
header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 60px 60px ;
  align-items: center;
  background-color: #c59aeb;
  max-width: 1200px;
  padding: 50px;
  height: 30px;
  box-shadow: 0 2px 10px #f1ebeb1a;
}

.logo img {
 grid-column: 1;
 width: 30px;
 height: 20%;;
}

h1 { 
  font-size: 1rem;
  font-family: var(--paragraph-font);
}

h2 {
  color: #3498db;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #fcf7f7;
  padding: 20px;
  border: 1px solid #000;
  height: 5%;
  margin-bottom: 10px;
}

nav a {
  display: flex;
  align-items: center;
  color: #6058ff;
  padding: 20px;
  text-decoration: none;
  margin-right: 1px;
}

ul {
display: flex;
list-style-type: none;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
scroll-margin-left: 50px;
}

ul nav {
  margin: 30px;
  margin-bottom: 100px;
  align-items: first baseline;
}

form {
  width: 650px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #ffffffcb;
  display: grid;
}

.employee-profiles{
  display: flex;
  justify-content: space-evenly;
}

.company-info{
  display: flex;
  justify-content: space-around;
}


/* Hero styles */
.hero {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.hero img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.hero h1 {
  position: absolute;
  top: 20%;
  left: 30%;
  background-color: rgba(27, 18, 18, 0.1);
  text-align: start;
  color: #fff;
  font-family: 'PT Serif', serif;
  font-size: 30px;
  font-weight: 100;
}

.hero article {
  position: absolute;
  bottom: 90px;
  left: 150px;
  background-color: rgba(55, 49, 158, 0.7);
  padding: 20px;
  color: #fff;
  width: 100%;
  max-width: 950px;
}

.hero article p {
  margin-bottom: 0;
}

.hero article img {
  float: right;
  margin-left: 30%;
  max-width: 150px
}

/* Section 1 styles */
section {
  display: flex;
  margin-top: 30px;
}

section p {
  line-height: 1.6;
  width: 100% ;
}

.img-1 {
  margin-left: 5px;
}

.adventures {
  display: grid;
  justify-content: center;
}
/* Section 2 style*/

.figurecaption {
 text-align: center;
}

/* Footer styles */
footer {
  height: auto;
  width: auto;
  display: block;
  justify-content: flex-end;
  color: #000;
}

.sociallinks {
 display: flex;
 margin: 3px;
 margin-left: 10px;
 justify-content: flex-end;
}
 
.sociallinks img {
  width: 30px;
  margin-left: 20px;
  margin: 5px;
}