@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto+Serif:opsz@8..144&display=swap');

:root {
  --primary-color: #57a3fa;
  --secondary-color: #caf0f8;
  --accent1-color: #edf6f9;
  --accent2-color:#a2d2ff;

  --heading-font: 'PT Serif', serif;
  --paragrapg-font: 'Roboto Serif', serif;

  --nav-background-color: #adb5bd;
  --nav-link-color: #90e0ef;
  --nav-hover-link-color: #4cc9f0;
  --nav-hover-background-color: #8d99ae;
}

body {
  font-family: var(--paragrapg-font);
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color:  var(--accent1-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited  {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
