@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto+Serif&display=swap');

:root {
  --primary-color: #F0374E;
  --secondary-color: #caf0f8;
  --accent1-color: #7DBBFD;
  --accent2-color:#a2d2ff;

  --heading-font: 'PT Serif', serif; 
  --paragrapg-font: 'Roboto Serif', serif;

  --nav-background-color: #a2d2ff;
  --nav-link-color: #F0374E;
  --nav-hover-link-color: #caf0f8;
  --nav-hover-background-color: #7DBBFD;
}

body {
  font-family: var(--paragrapg-font);
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--accent2-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited  {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
